@import "tailwindcss";

@theme {
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-cyber-500: #10b981;
  --color-cyber-600: #059669;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-50;
  }
}
